.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px; /* Podíamos ter criado uma margem, mas margem tem problema de colidir com o conteiner de cima. Podemos usar padding, pois não tem problema de colisão */
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto; /* Cria uma barra de scroll quando for necessário pela responsividade, apenas no eixo x (-x) horizontal */
}

#bicicleta .bicicletas-lista ul {
  padding: 0px 0px 20px 0px;
}

.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista a {
  display: block; /* Pegar o item inteiro em um bloco só no tab */
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex; /* Esse e o próximo item servem para alinar o ::before no h3 */
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block; /* Para que tudo fique na mesma linha */
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s; /* Tempo de transição do hover abaixo */
}

.bicicletas-lista a:hover h3::before {
  width: 24px;
}

.bicicletas-lista li span {
  padding-left: 20px; /* 12px + 8px do de cima */
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}
