body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex; /* Um ao lado do outro */
  flex-wrap: wrap; /* Queremos que ele quebre (svg e barra de link*/
  gap: 20px;
  justify-content: space-between; /* Centralizados */
  align-items: center;
  padding: 20px;
  max-width: 1160px; /* Ou podemos colocar box-sizing: border-box e max-width: 1200; para não precisarmos colocar número quebrado aqui por conta do padding de 20px */
  margin-left: auto; /* Sempre centralizar na responsividade */
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: #ffffff;
  display: inline-block; /* Padding não vai ficar direitinho se os links ficarem um abaixo do outro, portanto deve ser inline block */
  padding: 16px 0px; /* Aumentar a área de contato */
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: ""; /* Por padrão começamos :after e :before assim, content sem conteúdo nenhum */
  display: block;
  height: 2px;
  width: 0%;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
