.container {
  box-sizing: border-box;
  max-width: 1200px; /* Ou podemos colocar box-sizing: border-box e max-width: 1200; para não precisarmos colocar número quebrado aqui por conta do padding de 20px */
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto; /* Sempre centralizar na responsividade */
  margin-right: auto;
}

.botao {
  display: inline-block; /* Para pegar o padding corretamente */
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); /* x y blur tamanho da fonte e cor */
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 12px;
  background: url("../../img/ícones/seta.svg");
  transition: transform 0.2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  display: inline-block; /* Para pegar tudo qualquer padding que definirmos */
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after /* Underline */ {
  content: "";
  display: block; /* Por padrão */
  width: 100%; /* 100% da largura do conteúdo */
  height: 4px;
  background-color: currentColor; /* Cor do pai */
}

.link:hover {
  color: var(--cor-0);
}

/* Títulos Internos */
.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
